@import "tailwindcss";
@font-face {
    font-family: "open sans";
    src: url(../fonts/Open_Sans/static/OpenSans-Regular.ttf);
}
@font-face {
    font-family: "poppins";
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}
*{
    /* margin: 0;
    padding: 0;
    box-sizing: border-box; */
    font-family: "open sans",sans-serif;
}
html{
    scroll-behavior: smooth;
}

.cart::after, .cart1::after{
    content: "4";
    width: 16px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 10px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    position: absolute;
    right: -8px;
    bottom: -7px;
    background-color: #333;
}
.cart:hover::after{
    background-color: #1447e6;
}
.cart1:hover::after{
    background-color: #f36523;
}

.header-width{
    margin: auto;
}

.slider:has(#first:checked) .slides{
transform: translateX(0);
}
.slider:has(#second:checked) .slides{
transform: translateX(-100%);
}

@keyframes animate-scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.animate-scroll {
    animation: animate-scroll 15s linear infinite;
}

.animate-scroll:hover {
    animation-play-state: paused;
}

@keyframes scaleIn {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
    
}
@keyframes slideIn {
    from {
        opacity: 0;
        visibility: hidden;
        transform: translateX(-50%);
    }

    to {
        opacity:1;
        visibility: visible;
        transform: translateX(0);
    }
    
}
.backTop{
    animation: arrow linear both;
    animation-timeline:scroll(root);
    animation-range: 100vh 105vh;
}
@keyframes arrow {
    to{
        opacity: 1;
    }
    
}
.animate-slide{
    animation: slide 12s ease-in-out infinite;
}
@keyframes slide {
    0%,20%{
        transform: translateX(0);
    }
    25%,45%{
        transform: translateX(-25%);
    }
    50%,70%{
        transform: translateX(-50%);
    }
    75%,95%{
        transform: translateX(-75%);
    }
    100%{
        transform: translateX(0);
    }
    
}
@keyframes slideUp {
    from{
        opacity: 0;
        visibility: hidden;
        transform: translateY(50%);
    }
     to{
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    
}
@keyframes slideAuto {
    0%,20%{
        opacity: 0;
        visibility: hidden;
        /* transform:  translateY(50px); */
    }
    

    25%,100%{
        opacity: 1;
        visibility: visible;
        /* transform:  translateY(-50px); */
    }
    
    
}
@keyframes pulseScale {
    0%,100%{
        transform: scale(0.5);
    }
     50%{
        transform: scale(1);
    }
}
 @keyframes fade {
    0%,80%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        visibility: hidden;
    }
 }